*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# hacks, these should not appear where thye are.
./*.yml
test/support/*i18n-extractor.haml
config
.tags.haml-i18n-extractor
