.class= t('.text_here')
.other-class#id= t('.script_with_quote_with_interpo', :with_interpolationbub => (with_interpolation(bub)))

=t('.this_may_be_the_dup', :be => (be), :dup => (dup))
= link_to t('.adnamefirst', :adnamefirst => (ad.name.first)), url_for([ad, :ok])

= t('.no_quotes_some_var_with_text', :some_var => (some_var))
